* {
  --building-color: #e45a67;
  --fongus-color: #fbc98c;
}
body { font-family: Calibri,Arial,sans-serif; font-size: 1.6rem; margin: 0; }
h3 { text-align: center; margin-bottom: .5rem; font-size: 1.5rem; }
h4 { text-align: center; margin: 0; font-size: 1.2rem; }
table {
  position: relative;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden; /* supprime les bordures autour du tableau */
}
pre { max-width: 80%; white-space: pre-wrap; font-size: 1.5rem; }

.column { display: flex; align-items: center; justify-content: center; flex-flow: column wrap; }
.row { display: flex; align-items: center; justify-content: center; flex-flow: row wrap; }
.row.even > * { width: 30%; }
.die { font-size: 2rem; vertical-align: middle; }
.fongus-phase.active { color: #0000EE; text-decoration: underline; cursor: pointer; }
/* Grid styling: */
.player.grid::before {
  position: absolute; left: 2.7rem; top: 2.8rem;
  background: url(city-background.png); background-size: cover; background-repeat: no-repeat;
  content: ' '; display: block;
  width: calc(100% - 2.7rem); height: calc(100% - 2.8rem);
  z-index: -1;
}
.header { text-align: center; padding: 0; }
.square { position: relative; padding: 0; }
.player.grid .square { width: 7.5vw; height: 7.5vw; vertical-align: top; cursor: pointer; }
.central { background: repeating-linear-gradient(-45deg, #bbb, #bbb 1px, transparent 2px, transparent 3px); }
/* Trick source: https://stackoverflow.com/a/14387794/636849 */
.player.grid .square::before, .player.grid .square::after, .player.grid .square>:first-child::before, .player.grid .square>:first-child::after {
  content: ' '; position: absolute;
  width: 1rem; height: 1rem;
  border: 2px solid white;
}
.player.grid .square::before { top: 0; left: 0; border-width: 1px 0 0 1px; }
.player.grid .square::after { top: 0; right: 0; border-width: 1px 1px 0 0; }
.player.grid .square>:first-child::before { bottom: 0; right: 0; border-width: 0 1px 1px 0; }
.player.grid .square>:first-child::after { bottom: 0; left: 0; border-width: 0 0 1px 1px; }
.box {
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  cursor: pointer;
  margin: 0 1rem;
  margin-top: 1rem;
  text-align: center;
  line-height: 1.5rem;
  position: relative;
}
#resources .box { border: 1px solid black; }
.box-name { position: absolute; left: 2rem; font-size: 1rem; }
#resources .box { margin: .25rem; }
#resources .row { width: 100%; justify-content: space-evenly; }
.barrier {
  position: absolute;
  width: 2rem; height: 2rem;
  margin: 1rem;
  cursor: pointer;
  z-index: 1;
}
.barrier.horizontal { width: calc(100% - 2rem); bottom: -2rem; left: 0; }
.barrier.vertical { height: calc(100% - 2rem); right: -2rem; top: 0; }
.barrier.line::before {
  content: ''; position: absolute; top: 0; left: 0;
  border: 2px solid black;
}
.barrier.hatched::before {
  content: ''; position: absolute; top: 0; left: 0;
  display: block; width: 4px; height: 4px;
  background: repeating-linear-gradient(-45deg, black, black 2px, transparent 2px, transparent 4px);
}
.barrier.line.horizontal::before, .barrier.hatched.horizontal::before {
  top: 40%; width: 100%;
  border-top-left-radius: 255px 15px;
  border-bottom-right-radius: 225px 15px;
}
.barrier.line.vertical::before, .barrier.hatched.vertical::before {
  left: 40%; height: 100%;
  border-top-right-radius: 15px 225px;
  border-bottom-left-radius:15px 255px;
}
/* Pictograms: */
.box.transparent { background: none; }
.box.building { border: 3px solid var(--building-color); }
.box.fongus { border: 3px solid var(--fongus-color); }
.base::before { content: '♥️'; }
.park::before { content: '🌳'; font-size: 1rem; position: absolute; top: 0; left: 10%; color: transparent; text-shadow: 0 0 0 black; }
.archives::before { content: '👁'; }
.catapult::before { content: '◠'; }
.catapult::after { content: '•'; position: absolute; top: 0; right: 0; }
.house::before { content: '🏠'; font-size: 1rem; position: absolute; top: 0; left: 10%; color: transparent; text-shadow: 0 0 0 black; }
.foundry::before { content: url('hexagonal-nut.svg'); }
.refinery::before { content: '💧'; font-size: 1rem; position: absolute; top: 0; left: 20%; color: transparent; text-shadow: 0 0 0 black; }
.spore::before { content: '•'; color: black; }
.infected::before { content: '✘'; color: black; }
.infected::after { content: '•'; position: absolute; top: 0; left: .3rem; color: black; }
.resource::before { content: '✔'; font-size: 1.2rem; font-weight: bold; vertical-align: top; }
.filled::before { content: '⬛'; font-size: 1.4rem; position: absolute; top: 0; left: -13%; }
.player.grid .filled:nth-child(3)::after {
  content: ''; display: block;
  width: 8vw; height: 8vw; border-radius: 4vw;
  border: 2px solid black;
  position: absolute; top: -3.25vw; left: -1.15vw;
  pointer-events: none; /* ignore clicks */
}
.squad .squad-helper {
  content: ''; display: block;
  width: 4vw; height: 4vw; border-radius: 4vw;
  border: 5px dashed #59BBEB;
  position: absolute; top: 25%; left: 35%;
  pointer-events: none; /* ignore clicks */
}
.squad .squad-helper::after {
  content: 'S'; display: block;
  position: absolute; top: -5%; left: 30%;
  font-size: 4rem; color: #59BBEB;
  text-shadow: black 2px 2px;
}

.cost { display: inline-block; position: relative; padding: .5rem; width: .5rem; }

#legend { font-size: 1.2rem; max-width: 20rem; }
#legend table { margin: 0 1rem; }
#legend td { border: 1px solid black; padding: .5rem; position: relative; }
#legend td:first-child::before { top: 30% !important;  }
#legend td.foundry::after { left: 31% !important; top: 35% !important; }
#legend td.infected::after { left: 35% !important; top: 25% !important; }
#rules { font-size: 1.2rem; }
#rules h3 { margin-bottom: 0; margin-top: 1rem; }
/* cf. #propagation */
#X { position: relative; }
#X::before, #X::after { content: '•'; position: absolute; left: .25rem; }
#X::before { top: -1rem; }
#X::after { bottom: -1rem; }
#fongus { margin: .5rem; }
#fongus th, #fongus td { border: 1px solid black; padding: .3rem; text-align: center; }
#fongus tr:first-child td { font-size: 2rem; padding: 0; }
#fongus td:hover { background-color: #FBECBB; }
.struck { background: linear-gradient(to bottom right,
                                      rgba(0,0,0,0) 0%,
                                      rgba(0,0,0,0) calc(50% - 1px),
                                      rgba(0,0,0,1) 50%,
                                      rgba(0,0,0,0) calc(50% + 1px),
                                      rgba(0,0,0,0) 100%);
}
#score { border: 1px solid black; padding: .3rem; border-radius: 2rem; }
#score h3 { margin: .5rem; }
#score .row { margin: .5rem; align-self: end; }
#score input { display: block; height: 2rem; width: 4rem; margin-left: .5rem; border-radius: 1rem; text-align: center; }
