<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>You Are The Dragon</title>
    <link rel="stylesheet" type="text/css" href="yatd.css">
</head>
<body>
    <div id="app" class="l-column" role="main">
        <h1>You Are The Dragon</h1>
        <div class="l-row">
            <div class="l-column unit-selector">
                <input class="digit" type="number" v-model="digit" min="0" max="8">
                <div class="l-column unit-list">
                    <div v-for="cellType in availableCellTypes"
                         class="cell" v-bind:class="{[cellType]: true, 'selected': cellType === selectedCellType}"
                         v-on:click="selectedCellType = cellType">
                    </div>
                </div>
                <div class="seal l-row">
                    <div class="seal-value" v-for="sum, k in level.seal.vertical">
                        <span class="symbol">{{ getSigil(k) }}</span><span>{{ sum }}</span>
                    </div>
                    <div class="seal-value" v-for="sum, k in level.seal.horizontal">
                        <span class="symbol">{{ getSigil(k) }}</span><span>{{ sum }}</span>
                    </div>
                </div>
            </div>
            <div class="l-column">
                <div class="l-row"><label for="level-name">Level name:</label><input id="level-name" v-model="level.name"></div>
                <div class="text-inputs l-column">
                    <div class="l-row"><label for="level-intro">Intro text:</label><input id="level-intro" v-model="level.intro"></div>
                    <div class="l-row"><label for="level-question">Bonus question:</label><input id="level-question" v-model="level.bonusQuestion"></div>
                    <div class="l-row"><label for="level-question-answer">Bonus question answer:</label><input id="level-question-answer" v-model="level.bonusQuestionAnswer"></div>
                </div>
                <level-grid v-bind:level-model="level"
                            v-bind:solution="solution"
                            v-bind:enlighted-pos="tmpState.enlightedPos"
                            v-on:cell-clicked="setContent($event)">
                    <template v-slot:rightcolumn>
                        <div class="l-column stretched">
                            <button v-on:click="addColumn()" class="control control-addColumn">+column</button>
                            <button v-on:click="removeColumn()" class="control control-small">-</button>
                        </div>
                    </template>
                </level-grid>
                <div class="l-row stretched">
                    <button v-on:click="addRow()" class="control">+row</button>
                    <button v-on:click="removeRow()" class="control control-small">-</button>
                </div>
            </div>
        </div>
        <div class="l-column actions">
            <div class="l-row">
                <button class="action" v-on:click="solve()">SOLVE</button>
                <button class="action" v-on:click="setDigits()">SET DIGITS</button>
                <button class="action" v-on:click="toggleSight()">SIGHT</button>
                <button class="action" v-on:click="dual()" v-if="tmpState.solutions && tmpState.solutions.length === 1">DUAL</button>
            </div>
            <div class="l-row" v-if="tmpState.solutions">
                <label>Solutions : {{tmpState.solutions.length}}</label>
                <div class="l-column">
                    <span v-for="solution, length in tmpState.solutionsPerLength">
                        <input type="radio" v-model="tmpState.solutionLengthPicked" v-bind:value="length" v-bind:id="'length-' + length">
                        <label v-bind:for="'length-' + length">{{length}} ({{solution.length}})</label>
                        <input v-if="tmpState.solutionLengthPicked === length" type="range" min="0" v-bind:max="solution.length - 1" v-model="tmpState.solutionIndices[tmpState.solutionLengthPicked]">
                    </span>
                </div>
            </div>
            <div class="l-row">
                <a class="action" v-bind:href="levelAsDownloadHref" download="yatd-level.json">DOWNLOAD</a>
                <input class="action" type="file" accept=".json" @change="loadLevelFromFile">
            </div>
        </div>
    </div>

    <!-- development version, includes helpful console warnings: -->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-async-computed/dist/vue-async-computed.js"></script>
    <script type="module" src="editor.js"></script>
</body>
</html>
