<!-- The v-if below allows to wait for a potential JSON level HTTP fetch to complete before rendering -->
<div class="l-row" v-if="level"
     @mousedown="mouseButtonPress" @mouseup="mouseButtonRelease" @mouseleave="mouseButtonRelease">
    <div class="l-column">
        <div class="sigil horizontal" v-for="k in level.grid.length"
             v-on:click="toggleSigil('horizontal', k - 1)">
            <span class="symbol" v-if="typeof level.seal.horizontal[k - 1] !== 'undefined'">{{ getSigil(k - 1) }}⮚</span>
                            <!-- Other arrows tried: 🢚 RIGHTWARDS ARROW WITH NOTCHED TAIL, ⮞ BLACK RIGHTWARDS EQUILATERAL ARROWHEAD -->
        </div>
    </div>
    <div class="l-column">
        <div class="l-row">
            <div class="sigil vertical" v-for="k in level.grid[0].length"
                 v-on:click="toggleSigil('vertical', k - 1)">
                <span class="symbol" v-if="typeof level.seal.vertical[k - 1] !== 'undefined'">{{ getSigil(k - 1) }}⮛</span>
            </div>
        </div>
        <div class="l-row" v-for="row, i in level.grid">
            <div v-for="cell, j in row"
                 class="cell" v-bind:class="{[cell.type]: true,
                                             [borders(i, j)]: true,
                                             gob: cell.type === 'gob' || (solution && solution.includes(`${ i },${ j }`)),
                                             enlighted: isEnlighted(i, j)}"
                 v-on:click="click(i, j)" @mousemove="mouseMove(i, j)">
                <div class="digit">{{ cell.digit }}</div>
            </div>
        </div>
        <div class="l-row">
            <div class="sigil vertical" v-for="k in level.grid[0].length"></div>
        </div>
    </div>
    <div class="l-column">
        <div class="sigil horizontal" v-for="k in level.grid.length"></div>
    </div>
    <slot name="rightcolumn"></slot>
</div>