* { box-sizing: border-box; }
@font-face {
  font-family: AstroDotBasic; /* Top 10 chars: F G H I M T U V Z e */
  src: url('fonts/AstroDotBasic.ttf');
}
@font-face {
  font-family: MirageGothic;
  src: url('fonts/MirageGothic.ttf');
}
@font-face {
  font-family: LEngineerRegular;
  src: url('fonts/LEngineer-Regular.otf');
}
@font-face {
  font-family: LEngineerItalic;
  src: url('fonts/LEngineer-Italic.otf');
}
body {
  font-family: LEngineerRegular;
  font-size: 1.5rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-family: MirageGothic;
  font-size: 5rem;
  margin: 1rem;
}
.intro {
  font-family: LEngineerItalic;
  font-size: 2rem;
}
/* The l- prefix stands for LAYOUT */
.l-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.l-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.unit-selector {
  margin: 0 1rem;
}
.unit-list {
  height: 30rem;
  width: 15rem;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 .5rem;
}
.unit-selector .digit {
  max-width: 3rem;
  font-size: 2rem;
  margin: 1rem 0;
}
.seal {
  margin: 2rem;
  width: 9rem;
}
.seal-value {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.text-inputs {
  max-height: 7rem;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  margin-bottom: 1rem;
}
.text-inputs > * {
  width: 100%;
  justify-content: space-between;
}
.text-inputs input {
  width: 30rem;
}
.sigil {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sigil.vertical {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.symbol {
  font-family: AstroDotBasic;
  color: #e51c1c;
}
.cell {
  width: 3rem;
  height: 3rem;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px #bbb dashed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: Calibri,Arial,sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative; /* needed for .cell.border::before positioning */
}
.cell.border::after, .cell.border::before, .cell.border>.digit::after, .cell.border>.digit::before {
  content: '';
  display: block;
  position: absolute;
  background: repeating-linear-gradient(-45deg, #bbb, #bbb 1px, transparent 2px, transparent 3px);
}
.cell.border-left::before {
  top: 0;
  left: -5px;
  width: 5px;
  height: 3rem;
}
.cell.border-right::after {
  top: 0;
  right: -5px;
  width: 5px;
  height: 3rem;
}
.cell.border-top>.digit::before {
  left: 0;
  top: -5px;
  height: 5px;
  width: 3rem;
}
.cell.border-bottom>.digit::after {
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 3rem;
}
.none { border: none; }
.gob             { background-image: url('img/adventure-quest/iconfinder_Orc_2913114.svg'); }
.knight          { background-image: url('img/adventure-quest/iconfinder_Knight_2913116.svg'); }
.archer-right    { background-image: url('img/arrow-in-bow-right.svg'); }
.archer-down     { background-image: url('img/arrow-in-bow-down.svg'); }
.archer-left     { background-image: url('img/arrow-in-bow-left.svg'); }
.archer-up       { background-image: url('img/arrow-in-bow-up.svg'); }
.crystal         { background-image: url('img/adventure-quest/iconfinder_Crystal_Shard_2913097.svg'); }
.map             { background-image: url('img/adventure-quest/iconfinder_Adventure_Map_2913095.svg'); }
.egg             { background-image: url('img/adventure-quest/iconfinder_Dragon_Egg_2913098.svg'); }
.food            { background-image: url('img/adventure-quest/iconfinder_Food_2913119.svg'); }
.death           { background-image: url('img/adventure-quest/iconfinder_Grim_Reaper_2913100.svg'); }
.bag             { background-image: url('img/adventure-quest/iconfinder_Item_Bag_2913117.svg'); }
.king            { background-image: url('img/adventure-quest/iconfinder_King_2913101.svg'); }
.medusa          { background-image: url('img/adventure-quest/iconfinder_Medusa_2913102.svg'); }
.spider          { background-image: url('img/adventure-quest/iconfinder_Poison_Spider_2913103.svg'); }
.potion          { background-image: url('img/adventure-quest/iconfinder_Potion_2913113.svg'); }
.sorceress       { background-image: url('img/adventure-quest/iconfinder_Sorceress_2913112.svg'); }
.spell-book      { background-image: url('img/adventure-quest/iconfinder_Spell_Book_2913104.svg'); }
.scroll          { background-image: url('img/adventure-quest/iconfinder_Spell_Scroll_2913111.svg'); }
.tree            { background-image: url('img/adventure-quest/iconfinder_Treant_2913110.svg'); }
.werewolf        { background-image: url('img/adventure-quest/iconfinder_Werewolf_2913109.svg'); }
.barrel          { background-image: url('img/dragosha-dungeon-tiles/Objects/BarrelOpen.png'); }
.box-with-water-bottle { background-image: url('img/dragosha-dungeon-tiles/Objects/Box1fun.png'); }
.chest           { background-image: url('img/dragosha-dungeon-tiles/Objects/Chest.png'); }
.door            { background-image: url('img/dragosha-dungeon-tiles/Door3/Door30001.png'); }
.grating         { background-image: url('img/dragosha-dungeon-tiles/FloorGridB9.png'); }
.ladder-down     { background-image: url('img/dragosha-dungeon-tiles/TileStairB.png'); }
.monolith        { background-image: url('img/dragosha-dungeon-tiles/TileStone2.png'); }
.skeleton        { background-image: url('img/dragosha-dungeon-tiles/Dummy/DummySkeleton2.png'); }
.skulls          { background-image: url('img/dragosha-dungeon-tiles/Noise/BorderNoise5.png'); }
.stone-paved     { background-image: url('img/dragosha-dungeon-tiles/Noise/BorderNoise8.png'); }
.throne          { background-image: url('img/dragosha-dungeon-tiles/Interior/Interior6.png'); }
.cauldron        { background-image: url('img/glitch/cauldron__x1_1_png_1354836770.png'); }
.practice-target { background-image: url('img/glitch/furniture_smalltabledeco__x1_1_png_1354837850.png'); }
.document        { background-image: url('img/JoszsMedievalItemPack/document.png'); }
.feather         { background-image: url('img/JoszsMedievalItemPack/feather.png'); }
.alt-potion      { background-image: url('img/JoszsMedievalItemPack/potion_red_small.png'); }
.wolf-trap       { background-image: url('img/game-icons/wolf-trap.svg'); background-size: 66%; }
.tripwire        { background-image: url('img/game-icons/tripwire.svg'); }
.rock            { background-image: url('img/game-icons/brick-wall.svg'); }
.eye-right       { background-image: url('img/game-icons/brick-wall-eye-right.svg'); }
.floor-trap      { background-image: url('img/game-icons/cleaver.svg'); }
.stairs          { background-image: url('img/game-icons/3d-stairs.svg'); }
.dragon {
  background-image: url('img/adventure-quest/iconfinder_Monster_2913115.svg');
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.enlighted { background-color: yellow; }
.selected { outline: 2px red solid; }
.stretched { align-self: stretch; }
.control {
  flex: 1;
  align-self: stretch;
  text-align: center;
  background-color: #E6E6F8;
  border: 1px black solid;
  cursor: pointer;
}
.control-small {
  max-height: 3rem;
  max-width: 3rem;
}
.control-addColumn {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.actions {
  margin: 1rem;
}
.action {
  display: block;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #819FEA;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media print {
  h1 { font-size: 3rem; }
  .intro { font-size: 1.5rem; }
  body { font-size: 1.2rem; }
  .page-break { page-break-before: always; }
  section:nth-of-type(2), section:nth-of-type(3), section:nth-of-type(4) {
    transform: rotate(180deg);
  }
}

/* Style for .md levels */
section > .l-row { margin: 3rem; }
.version {
  position: fixed;
  bottom: 0;
  right: 0;
}
